<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>紫旭订阅管理平台 - 后台登录</title>
    <meta name="description" content="这是后台！">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/static/admin-assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/admin-assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="/static/admin-assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/static/admin-assets/css/admin.css">
    <link rel="stylesheet" href="/static/admin-assets/css/app.css">
</head>

<body data-type="login">

<div class="am-g myapp-login">
    <div class="myapp-login-logo-block  tpl-login-max">
        <div class="myapp-login-logo-text">
            <div class="myapp-login-logo-text">
                ZSRA<span> 管理员登录</span> <i class="am-icon-skyatlas"></i>

            </div>
        </div>

        <div class="login-font">
            <i>如果你不是管理员 </i><span>请立刻离开此页面</span>
        </div>
        <div class="am-u-sm-10 login-am-center">
            <form class="am-form" action="/admin/AdminControl/login" method="post">
                <fieldset>
                    <div class="am-form-group">
                        <input type="text" name="username" placeholder="管理员账号" required>
                    </div>
                    <div class="am-form-group">
                        <input type="password" name="password" placeholder="管理员密码" required>
                    </div>
                    <p>
                        <button type="submit" class="am-btn am-btn-default">登录</button>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<script src="/static/admin-assets/js/jquery.min.js"></script>
<script src="/static/admin-assets/js/amazeui.min.js"></script>
<script src="/static/admin-assets/js/app.js"></script>
</body>

</html>