<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>紫旭订阅管理平台 - 编辑用户</title>
    <meta name="description" content="这是后台！">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/static/admin-assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/admin-assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/static/admin-assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/static/admin-assets/css/admin.css">
    <link rel="stylesheet" href="/static/admin-assets/css/app.css">
    <link rel="stylesheet" href="/static/admin-assets/css/toastr.min.css">
</head>

<body data-type="generalComponents">


    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
            <a href="javascript:;" class="tpl-logo">
                <img src="/static/admin-assets/img/logo.png" alt="">
            </a>
        </div>
        <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

        </div>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">

                <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen" class="tpl-header-list-link"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>

                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="tpl-header-list-user-nick">{$adminUser}</span><span class="tpl-header-list-user-ico"> <img src="/static/admin-assets/img/user01.png"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li><a href="#"><span class="am-icon-bell-o"></span> 资料</a></li>
                        <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                        <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                    </ul>
                </li>
                <li><a href="/admin/AdminControl/logOut" class="tpl-header-list-link"><span class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
            </ul>
        </div>
    </header>
    <div class="tpl-page-container tpl-page-header-fixed">
        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                操作列表
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                    <li class="tpl-left-nav-item">
                        <a href="/admin/index" class="nav-link">
                            <i class="am-icon-home"></i>
                            <span>首页</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-cog"></i>
                            <span>网站设置</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <a href="/admin/webControl/basicSetting">
                                    <i class="am-icon-angle-right"></i>
                                    <span>基本配置</span>
                                </a>
                                <a href="/admin/webControl/regSetting">
                                    <i class="am-icon-angle-right"></i>
                                    <span>注册与访问</span>
                                </a>
                                <a href="/admin/webControl/emailSetting">
                                    <i class="am-icon-angle-right"></i>
                                    <span>邮件配置</span>
                                </a>
                                <a href="/admin/webControl/announceSetting">
                                    <i class="am-icon-angle-right"></i>
                                    <span>公告管理</span>
                                </a>
                                <a href="/admin/webControl/purchaseSetting">
                                    <i class="am-icon-angle-right"></i>
                                    <span>支付</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list active">
                            <i class="am-icon-user"></i>
                            <span>用户管理</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu" style="display: block;">
                            <li>
                                <a href="/admin/UserControl/userList">
                                    <i class="am-icon-angle-right"></i>
                                    <span>用户列表</span>
                                </a>

                                <a href="/admin/UserControl/userGroupIndex">
                                    <i class="am-icon-angle-right"></i>
                                    <span>用户组管理</span>
                                </a>

                                <a href="/admin/UserControl/userSubList">
                                    <i class="am-icon-angle-right"></i>
                                    <span>用户产品管理</span>
                                    <i class="tpl-left-nav-content tpl-badge-primary"></i>
                                </a>

                            </li>
                        </ul>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-modx"></i>
                            <span>订阅产品管理</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <a href="/admin/subControl/subListIndex">
                                    <i class="am-icon-angle-right"></i>
                                    <span>订阅产品列表</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/subControl/subPrice">
                                    <i class="am-icon-angle-right"></i>
                                    <span>价格方案配置</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/subControl/coupon">
                                    <i class="am-icon-angle-right"></i>
                                    <span>优惠券管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/subControl/card">
                                    <i class="am-icon-angle-right"></i>
                                    <span>充值卡管理</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-ticket"></i>
                            <span>工单管理</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <a href="/admin/ticketControl/ticketSetting">
                                    <i class="am-icon-angle-right"></i>
                                    <span>工单配置</span>
                                </a>
                            </li>
                            <!--<li>-->
                                <!--<a href="/admin/ticketControl/ticketClass">-->
                                    <!--<i class="am-icon-angle-right"></i>-->
                                    <!--<span>分类管理</span>-->
                                <!--</a>-->
                            <!--</li>-->
                            <li>
                                <a href="/admin/ticketControl/ticketList">
                                    <i class="am-icon-angle-right"></i>
                                    <span>工单列表</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-list"></i>
                            <span>记录管理</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <a href="/admin/logControl/buyRecord">
                                    <i class="am-icon-angle-right"></i>
                                    <span>产品购买记录</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/logControl/loginRecord">
                                    <i class="am-icon-angle-right"></i>
                                    <span>用户登录记录</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>





        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                编辑用户
            </div>
            <ol class="am-breadcrumb">
                <li><a href="/admin" class="am-icon-home">首页</a></li>
                <li>用户管理</li>
                <li class="am-active">编辑用户</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 编辑用户(UID:{$user.uid})
                    </div>


                </div>
                <div class="tpl-block ">

                    <div class="am-g tpl-amazeui-form">
                        <div class="am-u-sm-12 am-u-md-9">
                            <form class="am-form am-form-horizontal" action="/admin/usercontrol/edituser" method="post" data-am-validator="">
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">用户名 / UserName</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" value={$user.username} name="username" id="user-name" placeholder="用户名 / UserName" required minlength="4">
                                        <small>最少不得小于4个字符！</small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-email" class="am-u-sm-3 am-form-label">电子邮件 / Email</label>
                                    <div class="am-u-sm-9">
                                        <input type="email" value={$user.email} name="email" id="user-email" placeholder="输入你的电子邮件 / Email">
                                        <small>登录凭证，不能重复！</small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-pwd" class="am-u-sm-3 am-form-label">密码 / Password</label>
                                    <div class="am-u-sm-9">
                                        <input type="password" name="password" id="user-pwd" placeholder="如果不修改密码请留空 / Password">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="group" class="am-u-sm-3 am-form-label">用户组 / UserGroup</label>
                                    <div class="am-u-sm-9">
                                        <select name="groupid" id="group" required data-am-selected="">
                                            {volist name="group" id="g"}
                                            <option value="{$g.id}" {if $user.groupid===$g.id}selected{/if}>{$g.groupname}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-expiretime" class="am-u-sm-3 am-form-label">用户组有效期 / ExpireTime</label>
                                    <div class="am-u-sm-9">
                                        <input type="number" name="expiretime" value="{:number_format(strtotime($user.expiretime) / 3600 / 24 - time() / 3600 / 24)}" id="user-expiretime" placeholder="用户组有效期 / ExpireTime">
                                        <small>单位：天；如果留空则为永久(3099年12月31日过期)，只支持整数，过期后将变更为默认用户组。</small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="status" class="am-u-sm-3 am-form-label">状态 / Status</label>
                                    <div class="am-u-sm-9">
                                        <select name="status" id="status" data-am-selected="" required>
                                            <option value="1" {if $user.status===1}selected{/if}>待激活</option>
                                            <option value="0" {if $user.status===0}selected{/if}>正常</option>
                                            <option value="2" {if $user.status===2}selected{/if}>封禁</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="avatar" class="am-u-sm-3 am-form-label">清除头像 / Remove</label>
                                    <div class="am-u-sm-9">
                                        <div class="tpl-switch">
                                            <input type="checkbox" id="avatar" name="eavatar" value="true" class="ios-switch bigswitch tpl-switch-btn"/>
                                            <div class="tpl-switch-btn-view">
                                                <div>
                                                </div>
                                            </div>
                                        </div>
                                        <small>保存后该用户头像将设置为默认！</small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-cash" class="am-u-sm-3 am-form-label">初始余额 / Cash</label>
                                    <div class="am-u-sm-9">
                                        <input type="number" value={$user.cash} name="cash" id="user-cash" placeholder="输入初始余额 / Cash">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-credit" class="am-u-sm-3 am-form-label">初始积分 / Credit</label>
                                    <div class="am-u-sm-9">
                                        <input type="number" value={$user.credit} name="credit" id="user-credit" placeholder="输入初始积分数额 / Credit">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="submit" class="am-btn am-btn-primary">更新资料</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>










        </div>

    </div>


    <script src="/static/admin-assets/js/jquery.min.js"></script>
    <script src="/static/admin-assets/js/amazeui.min.js"></script>
    <script src="/static/admin-assets/js/app.js"></script>
    <script src="/static/admin-assets/js/toastr.min.js"></script>
    <script src="/static/admin-assets/js/usercontrol.js"></script>
</body>

</html>