<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>紫旭订阅管理平台 - 支付方式管理</title>
    <meta name="description" content="这是后台！">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/static/admin-assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/admin-assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="/static/admin-assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/static/admin-assets/css/admin.css">
    <link rel="stylesheet" href="/static/admin-assets/css/app.css">
    <link rel="stylesheet" href="/static/admin-assets/css/toastr.min.css">
</head>

<body data-type="generalComponents">


<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <a href="javascript:;" class="tpl-logo">
            <img src="/static/admin-assets/img/logo.png" alt="">
        </a>
    </div>
    <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen" class="tpl-header-list-link"><span
                    class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>

            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                    <span class="tpl-header-list-user-nick">{$adminUser}</span><span
                        class="tpl-header-list-user-ico"> <img src="/static/admin-assets/img/user01.png"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-bell-o"></span> 资料</a></li>
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li><a href="/admin/AdminControl/logOut" class="tpl-header-list-link"><span
                    class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
        </ul>
    </div>
</header>
<div class="tpl-page-container tpl-page-header-fixed">
    <div class="tpl-left-nav tpl-left-nav-hover">
        <div class="tpl-left-nav-title">
            操作列表
        </div>
        <div class="tpl-left-nav-list">
            <ul class="tpl-left-nav-menu">
                <li class="tpl-left-nav-item">
                    <a href="/admin/index" class="nav-link">
                        <i class="am-icon-home"></i>
                        <span>首页</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list active">
                        <i class="am-icon-cog"></i>
                        <span>网站设置</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu" style="display: block;">
                        <li>
                            <a href="/admin/webControl/basicSetting">
                                <i class="am-icon-angle-right"></i>
                                <span>基本配置</span>
                            </a>
                            <a href="/admin/webControl/regSetting">
                                <i class="am-icon-angle-right"></i>
                                <span>注册与访问</span>
                            </a>
                            <a href="/admin/webControl/emailSetting">
                                <i class="am-icon-angle-right"></i>
                                <span>邮件配置</span>
                            </a>
                            <a href="/admin/webControl/announceSetting">
                                <i class="am-icon-angle-right"></i>
                                <span>公告管理</span>
                            </a>
                            <a href="/admin/webControl/purchaseSetting" class="active">
                                <i class="am-icon-angle-right"></i>
                                <span>支付</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-user"></i>
                        <span>用户管理</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu">
                        <li>
                            <a href="/admin/UserControl/userList">
                                <i class="am-icon-angle-right"></i>
                                <span>用户列表</span>
                            </a>

                            <a href="/admin/UserControl/userGroupIndex">
                                <i class="am-icon-angle-right"></i>
                                <span>用户组管理</span>
                            </a>

                            <a href="/admin/UserControl/userSubList">
                                <i class="am-icon-angle-right"></i>
                                <span>用户产品管理</span>
                                <i class="tpl-left-nav-content tpl-badge-primary"></i>
                            </a>

                        </li>
                    </ul>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-modx"></i>
                        <span>订阅产品管理</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu">
                        <li>
                            <a href="/admin/subControl/subListIndex">
                                <i class="am-icon-angle-right"></i>
                                <span>订阅产品列表</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/subControl/subPrice">
                                <i class="am-icon-angle-right"></i>
                                <span>价格方案配置</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/subControl/coupon">
                                <i class="am-icon-angle-right"></i>
                                <span>优惠券管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/subControl/card">
                                <i class="am-icon-angle-right"></i>
                                <span>充值卡管理</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-ticket"></i>
                        <span>工单管理</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu">
                        <li>
                            <a href="/admin/ticketControl/ticketSetting">
                                <i class="am-icon-angle-right"></i>
                                <span>工单配置</span>
                            </a>
                        </li>
                        <!--<li>-->
                            <!--<a href="/admin/ticketControl/ticketClass">-->
                                <!--<i class="am-icon-angle-right"></i>-->
                                <!--<span>分类管理</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <li>
                            <a href="/admin/ticketControl/ticketList">
                                <i class="am-icon-angle-right"></i>
                                <span>工单列表</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-list"></i>
                        <span>记录管理</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu">
                        <li>
                            <a href="/admin/logControl/buyRecord">
                                <i class="am-icon-angle-right"></i>
                                <span>产品购买记录</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/logControl/loginRecord">
                                <i class="am-icon-angle-right"></i>
                                <span>用户登录记录</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>


    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
            支付
        </div>
        <ol class="am-breadcrumb">
            <li><a href="/admin/index" class="am-icon-home">首页</a></li>
            <li>网站设置</li>
            <li class="am-active">支付</li>
        </ol>
        <div class="tpl-portlet-components am-u-lg-12 am-u-md-12 am-u-sm-12">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 支付方式管理
                </div>
            </div>
            <div class="tpl-block ">

                <div class="am-g tpl-amazeui-form">
                    <div class="am-u-sm-12 am-u-md-12">
                        <form class="am-form am-form-horizontal" id="addGroupForm"
                              action="/admin/WebControl/setPurchaseMethod" method="post"
                              data-am-validator>
                            <div class="am-form-group">
                                <label for="api" class="am-u-sm-3 am-form-label">选择支付接口 / API</label>
                                <div class="am-u-sm-9">
                                    <select name="id" id="api" placeholder="必须选择支付接口" data-am-selected required>
                                        {volist name="method" id="m"}
                                        <option class="apis" value="{$m.id}">{$m.mname}</option>
                                        {/volist}
                                    </select>
                                    <small>注意：除了支付宝，微信支付，QQ钱包之外的一切支付方式在前台都会显示为“扫码支付”</small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="apiid" class="am-u-sm-3 am-form-label">API ID / ID</label>
                                <div class="am-u-sm-9">
                                    <input type="text" name="apiid" id="apiid" placeholder="请输入ID / ID" required>
                                    <small>填写ID（商户ID，合作者身份ID，开放平台ID等），将此值改为0则表示停用该支付方式！</small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="key" class="am-u-sm-3 am-form-label">API Key / Key</label>
                                <div class="am-u-sm-9">
                                    <input type="text" name="apikey" id="key" placeholder="请输入密钥 / Key"
                                           required>
                                    <small>填写密钥（商户key，开放平台Key等）</small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="tkey" class="am-u-sm-3 am-form-label">Third Key / Key</label>
                                <div class="am-u-sm-9">
                                    <input type="text" name="thirdkey" id="tkey" placeholder="请输入第三方参数值 / Thirk Key">
                                    <small>填写规则：如果支付接口除了ID和Key还有第三个参数才填写否则留空，如：有赞云的店铺ID(store_id)</small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <button type="submit" class="am-btn am-btn-primary">确认</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="tpl-portlet-components am-u-lg-12 am-u-md-12 am-u-sm-12">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 支付方式列表
                </div>
            </div>
            <div class="tpl-block">
                <div class="am-g">
                    <div class="am-u-sm-12 am-u-md-6">
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button type="button" class="am-btn am-btn-default am-btn-danger"><span
                                        class="am-icon-trash-o"></span> 删除
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="am-g">
                    <div class="am-u-sm-12">
                        <form class="am-form">
                            <table class="am-table am-table-striped am-table-hover table-main">
                                <thead>
                                <tr>
                                    <th class="table-check"><input type="checkbox" class="tpl-table-fz-check"></th>
                                    <th class="table-sid">ID</th>
                                    <th class="table-coupon">方案名</th>
                                    <th class="table-forsid">API ID</th>
                                    <th class="table-price am-hide-sm-only">API Key</th>
                                    <th class="table-price am-hide-sm-only">Third Key</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="method" id="m"}
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>{$m.id}</td>
                                    <td>{$m.mname}</td>
                                    <td>{$m.secureid}</td>
                                    <td>{$m.securekey}</td>
                                    <td>{$m.thirdkey}</td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                            <hr>
                        </form>
                    </div>

                </div>
            </div>
            <div class="tpl-alert"></div>
        </div>
    </div>
</div>
<script src="/static/admin-assets/js/jquery.min.js"></script>
<script src="/static/admin-assets/js/amazeui.min.js"></script>
<script src="/static/admin-assets/js/jquery.form.js"></script>
<script src="/static/admin-assets/js/app.js"></script>
<script src="/static/admin-assets/js/toastr.min.js"></script>
<script src="/static/admin-assets/js/purchasemethod.js"></script>
</body>

</html>